@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/footer";

/***************** Start Hero Section ***************/

.hero-sec {
  position: relative;
  z-index: 2;

  .map_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    object-fit: cover;
  }

  .content {
    @include between;
    gap: 35px;

    @media screen and (max-width: $screen-md) {
      flex-direction: column;
    }

    .hero-slider {
      width: 460px;

      @media screen and (max-width: $screen-lg) {
        width: 400px;
      }

      @media screen and (max-width: $screen-md) {
        width: 100%;
      }

      .item {
        .title {
          font-size: 24px;
          margin-bottom: 20px;
          font-weight: 600;
          line-height: 1.7;

          @media screen and (max-width: $screen-lg) {
            font-size: 19px;
          }

          @media screen and (max-width: $screen-md) {
            text-align: center;
          }

          @media screen and (max-width: $screen-xs) {
            font-size: 16px;
          }
        }

        .text {
          font-size: 17px;
          line-height: 1.9;
          margin-bottom: 25px;

          @media screen and (max-width: $screen-lg) {
            font-size: 15px;
          }

          @media screen and (max-width: $screen-md) {
            text-align: center;
          }

          @media screen and (max-width: $screen-xs) {
            font-size: 14px;
          }
        }

        .buttons {
          @media screen and (max-width: $screen-md) {
            justify-content: center;
          }
        }
      }

      .owl-dots {
        @media screen and (max-width: $screen-md) {
          justify-content: center;
        }
      }
    }

    .hero-img {
      max-width: 230px;
      max-height: 300px;

      @media screen and (max-width: $screen-lg) {
        max-width: 200px;
        max-height: 260px;
      }

      @media screen and (max-width: $screen-md) {
        max-width: 160px;
        max-height: 220px;
      }

      @media screen and (max-width: $screen-xs) {
        max-width: 140px;
        max-height: 180px;
      }
    }
  }
}

/***************** End Hero Section ***************/

/***************** Start Owl Dots ***************/

.owl-dots {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 55px;
  width: 100%;

  .owl-dot {
    width: 16px;
    height: 7px;
    border-radius: 10px;
    background-color: $white2 !important;

    @media screen and (max-width: $screen-md) {
      height: 7px;
      width: 15px;
    }

    &.active {
      width: 35px;
      opacity: 1;
      background-color: $main !important;

      @media screen and (max-width: $screen-md) {
        width: 30px;
      }
    }
  }
}

/***************** End Owl Dots ***************/

/***************** Start services-h-sec Section ***************/

.services-h-sec {
  .content {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;

    @media screen and (max-width: $screen-lg) {
      gap: 30px;
    }

    @media screen and (max-width: $screen-md) {
      gap: 15px;
    }

    @media screen and (max-width: $screen-sm) {
      gap: 5px;
    }

    @media screen and (max-width: $screen-xs) {
      gap: 15px;
    }
  }
}

.services-item {
  width: 270px;
  display: block;
  text-align: center;
  transition: $main-transition;
  border-radius: 15px;
  padding: 30px 20px;

  @media screen and (max-width: $screen-md) {
    width: 250px !important;
    padding: 30px 15px;
  }

  @media screen and (max-width: $screen-sm) {
    width: 200px !important;
    padding: 30px 10px;
  }

  @media screen and (max-width: $screen-xs) {
    padding: 30px 20px;
    width: 225px !important;
    background-color: rgba($color: $white, $alpha: 0.1);
  }

  .services-img {
    width: 170px;
    max-width: 100%;
    max-height: 110px;
    display: block;
    margin: auto;
    margin-bottom: 20px;

    @media screen and (max-width: $screen-md) {
      width: 140px;
    }

    @media screen and (max-width: $screen-sm) {
      width: 100px;
    }

    @media screen and (max-width: $screen-xs) {
      width: 85px;
    }
  }

  .services-name {
    font-size: 17px;
    color: $white;
    margin-bottom: 15px;

    @media screen and (max-width: $screen-md) {
      font-size: 16px;
    }

    @media screen and (max-width: $screen-xs) {
      font-size: 15px;
    }
  }

  .services-desc {
    font-size: 14px;
    color: $white;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: $screen-md) {
      font-size: 13px;
    }

    @media screen and (max-width: $screen-xs) {
      font-size: 12px;
    }
  }

  .more_btn {
    font-size: 15px;
    color: $black;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 25px;
    transition: $main-transition;
  }

  &:hover {
    transform: translateY(-5px);
    background-color: rgba($color: $white, $alpha: 0.1);
  }
}

.services_txt_cards {
  .services-item {
    background-color: $white;
    border: 1px solid rgba($color: $white2, $alpha: 0.6);
    width: 255px;

    @media screen and (max-width: $screen-lg) {
      width: 250px !important;
      padding: 30px 15px;
    }

    .services-name {
      color: $black;
      font-weight: 600;
      font-size: 16px;
    }

    .services-desc {
      color: $dark;
    }

    &:hover,
    &.active {
      transform: translateY(-14px);
      background-color: rgba($color: $sec, $alpha: 0.05);
      border-color: rgba($color: $sec, $alpha: 0.05);

      .more_btn {
        color: $sec;
      }
    }
  }
}

/***************** End services-h-sec Section ***************/

/***************** Start About Section ***************/

.about-imgs {
  position: relative;

  @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .img1 {
    margin-top: 130px;

    @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
      margin-top: 0;
    }

    @media screen and (max-width: $screen-xs) {
      margin-top: 105px;
    }

    @media screen and (max-width: $screen-xxs) {
      margin-top: 90px;
    }
  }

  .img2 {
    position: absolute;
    @include dir-right(0);
    top: -130px;
    z-index: 2;

    @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
      position: unset;
    }

    @media screen and (max-width: $screen-xs) {
      top: -105px;
    }

    @media screen and (max-width: $screen-xxs) {
      top: -90px;
    }
  }
}

.about-img {
  width: 310px;
  height: 280px;
  border-radius: 12px;
  border: 3px solid $white;
  overflow: hidden;
  flex-shrink: 0;

  &.lg {
    width: 390px;
    height: 280px;

    @media screen and (max-width: $screen-lg) {
      width: 285px;
      height: 245px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $main-transition;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: $screen-lg2) {
    width: 285px;
    height: 245px;
  }

  @media screen and (max-width: $screen-sm) {
    width: 250px;
    height: 185px;
  }
}

.about-content {
  .about-text {
    font-size: 16px;
    line-height: 1.9;

    @media screen and (max-width: $screen-md) {
      text-align: center;
    }
  }
}

.about-card {
  border-radius: 15px;
  border: 1px solid $white2;
  padding: 25px 20px 30px;
  transition: $main-transition;
  background-color: $white;

  .about-card-top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;

    .about-card-name {
      font-size: 17px;
      color: $black;
      font-weight: 600;
      line-height: 1.5;

      @media screen and (max-width: $screen-sm) {
        font-size: 16px;
      }

      @media screen and (max-width: $screen-xs) {
        font-size: 15px;
      }
    }

    .about-icon {
      background-color: rgba($color: $sec, $alpha: 0.1);
      @include center;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      flex-shrink: 0;

      .ic {
        max-width: 22px;
      }
    }
  }

  .text {
    font-size: 15px;
    line-height: 2;

    #{$ltr} & {
      font-family: fontMed !important;
    }
    #{$rtl} & {
      font-family: fontReg;
    }

    @media screen and (max-width: $screen-xs) {
      font-size: 14px;
      line-height: 1.7;
    }
  }

  &:hover {
    background-color: rgba($color: $sec, $alpha: 0.05);
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.07);
  }
}

.about-slider {
  .owl-dots {
    margin-top: 35px;
  }
}

.about-items {
  .about-item {
    @include between;
    gap: 30px;
    margin-bottom: 35px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    @media screen and (max-width: $screen-md) {
      flex-direction: column-reverse !important;
      gap: 20px;
    }
  }
}

/***************** End About Section ***************/

/***************** Start home-contact-sec Section ***************/

.home-contact-sec {
  .contact {
    border-radius: 15px;
    padding: 40px 25px;
    position: relative;
    z-index: 2;

    .main-title,
    .sec-title {
      color: $white;
    }

    .main-label {
      color: $white;
    }
    .main-input {
      .input-me {
        background-color: rgba($color: $white, $alpha: 0.4);
        border-color: $white;
      }
    }

    .iti {
      .iti__selected-flag {
        .iti__selected-dial-code {
          #{$rtl} & {
            border-right: 2px solid $sec;
          }
          #{$ltr} & {
            border-left: 2px solid $sec;
          }
        }
      }
    }

    .contact-img {
      @media screen and (max-width: $screen-lg) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        z-index: -1;
      }
    }
  }
}

/***************** End home-contact-sec Section ***************/

/***************** Start services-imgs Section ***************/
.services_bg {
  background: linear-gradient(
    rgba($color: $sec, $alpha: 0),
    rgba($color: $sec, $alpha: 0.04)
  ) !important;
}
.services_img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 15px;

  @media screen and (max-width: $screen-lg) {
    height: 240px;
    border-radius: 10px;
  }
}

.services-imgs {
  .owl-dots {
    justify-content: center;
    margin-top: 30px;

    @media screen and (max-width: $screen-lg) {
      margin-top: 25px;
    }
  }
}
/***************** End services-imgs Section ***************/

/***************** Start services-det-item Section ***************/
.services-det-item {
  background-color: $white;
  border-radius: 15px;
  border: 1px solid $white2;
  padding: 35px 30px;
  position: relative;
  text-align: center;

  @media screen and (max-width: $screen-xs) {
    padding: 30px 20px;
  }

  .services-det-name {
    font-size: 16px;
    font-weight: 600;
    color: $black;
    margin-bottom: 18px;
  }

  .close-services {
    position: absolute;
    top: 25px;
    @include dir-left(25px);
    @include circle(26px);
    font-size: 12px;
    color: $white;
    @include center;
    cursor: pointer;
    background-color: $red;

    @media screen and (max-width: $screen-xs) {
      top: 15px;
      @include dir-left(15px);
    }
  }

  .main-btn {
    margin-top: 18px;
  }
}
/***************** End services-det-item Section ***************/

/***************** Start contact Page ***************/

.contact-img {
  display: block;
  max-width: 370px;
  max-height: 360px;

  @media screen and (max-width: $screen-md) {
    max-width: 360px;
  }

  @media screen and (max-width: $screen-xs) {
    max-width: calc(100% - 60px);
  }
}

.contact-items {
  @include between;
  gap: 25px;
  flex-wrap: wrap;

  .contact-item {
    .head {
      font-size: 16px;
      color: $main;
      margin-bottom: 18px;

      @media screen and (max-width: $screen-xs) {
        font-size: 15px;
      }
    }

    .text {
      color: $dark;
      font-size: 15px;
      font-family: fontLight;
      @media screen and (max-width: $screen-xs) {
        font-size: 14px;
      }
    }
  }
}

.contact {
  .contact-img {
    margin-inline-start: auto;
  }
  .contact-items {
    .contact-item {
      .head,
      .text {
        color: $white;
      }
    }
  }
}

/***************** End contact Page ***************/

/***************** Start Login Page ***************/

.right-sec {
  padding: 100px 100px 60px;
  @include center;
  min-height: 100vh;
  position: relative;

  @media screen and (max-width: $screen-lg) {
    padding: 100px 40px 40px;
    background: linear-gradient($main, $sec) !important;
  }

  @media screen and (max-width: $screen-md) {
    padding: 85px 10px 25px;
  }

  .home-link {
    display: none;

    @media screen and (max-width: $screen-lg) {
      display: block;
    }
  }
}

.left-sec {
  // position: relative;
  background: linear-gradient($main, $sec);
  @include center;
  height: 100vh;
  min-height: 700px;
  padding: 80px;
  position: fixed;
  width: 50%;
  @include dir-right(0);
  top: 0;

  @media screen and (max-width: $screen-lg) {
    position: relative;
    width: 100%;
    // background: transparent;
    z-index: -1;
    padding: 80px 10px;
  }

  .login-img {
    max-width: 380px;
    max-height: 380px;

    // @media screen and (max-width:$screen-lg) {
    //   opacity: .1;
    // }

    @media screen and (max-width: $screen-xs) {
      max-width: calc(100% - 30px);
    }
  }

  @media screen and (max-width: $screen-lg) {
    display: none;
  }
}

.home-link {
  position: absolute;
  top: 40px;
  @include dir-left(50px);
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: $screen-sm) {
    @include dir-left(20px);
  }

  .ic {
    max-width: 12px;
  }

  .link {
    font-size: 13px;
    color: $white;
    transition: $main-transition;

    &:hover {
      text-decoration: underline;
    }
  }
}

/***************** End Login Page ***************/
